VITE_API_BASE=/api
VITE_SUPABASE_URL=https://ndfaabdpwlimdsevphss.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kZmFhYmRwd2xpbWRzZXZwaHNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1MDk2NDMsImV4cCI6MjA5NjA4NTY0M30.Lmz73sGz_FyhNFO0WJOvKVwxP6F1nk9Tfg_kWTiSBiY
