PORT=4174
CORS_ORIGIN=https://vath.vercel.app
SUPABASE_URL=https://ndfaabdpwlimdsevphss.supabase.co/rest/v1/
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kZmFhYmRwd2xpbWRzZXZwaHNzIiwicm9sZSI6InNlcnZpY2VfYWNjb3VudCIsImlhdCI6MTc4MDUwOTY0MywiZXhwIjoyMDk2MDg1NjQzfQ.0v7u7b4eH8o8nqjLhKZyTt8r5lG8N7j5iWjP2aA1w
MIMO_API_KEY=sk-snjgh89w4unt4xqyizkxfpqy8nyhkwh4scnwtu1clo9j56pk
OPENAI_API_KEY=
CLAUDE_API_KEY=
GEMINI_API_KEY=
